#container {
    display: flex;
    flex-direction: column;
    height: 50vw;
    width: 50vw;
}
  
  .secDivs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: rows;
  }
  
  .terDivs {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background-color: lightblue;
  }
  